/* SCSS HEX */
#palette{
  color:#f79f79ff; /* $light-salmon:*/
  color:#f7d08aff; /* $deep-champagne:*/
  color:#e3f09bff; /* $key-lime:*/
  color:#87b6a7ff; /* $green-sheen:*/
  color:#5b5941ff; /* $ebony:*/
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr; 
    grid-template-rows: 68px repeat(auto-fit, 360px) 22px;
    grid-template-areas: 
     "header   header   header"
    "sidebar-1 content sidebar-2"
    "sidebar-1 content sidebar-2"
     "footer   footer   footer";
}

header{
    grid-area: header;
    background-color: #f79f79ff; /* $light-salmon:*/
    height: 68px;
    display: flex;
    justify-content: flex-start;
}
.left-side{
    grid-area: sidebar-1;
    background-color: #87b6a7ff; /* $green-sheen: */
    
}

main{
    grid-area: content;
    background-color: #87b6a7ff; /* $green-sheen: */
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-side{
    grid-area: sidebar-2;
    background-color: #87b6a7ff; /* $green-sheen: */
}
footer{
    grid-area: footer;
    background-color: #5b5941ff; /* $ebony:*/
    display: flex;    
    justify-content: center;
    height: 22px;

}

.alura-logo{
    position: static;
    width: 70px;
    height: auto;
    left: 0px;
    top: 0px;
    color: black;
    flex: none;
    flex-grow: 0;
    margin: 20px 0px;
}

.title{
    display: flex;
    align-items:center;
    justify-content: center;
}

#second-title{
    display: flex;
    align-items:flex-start;
    justify-content: center;
}

.fcc-btn{
    box-sizing: border-box;
    background-color: #e3f09bff; /* $key-lime:*/
    padding: 15px 25px;
    text-decoration: none;
    border: 2px solid #5b5941ff; /* $ebony:*/
    border-radius: 10px;
}

.fcc-btn:hover{
    background-color:#f7d08aff; /* $deep-champagne:*/
}
